.logo {
  @apply h-[8em] will-change-[filter] transition-[filter] duration-300 p-[1.5em];
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.saga:hover {
  filter: drop-shadow(0 0 2em #61fbb0aa);
}
